{% extends "MHNewsletterBundle::layout.html.twig" %}

{% block title %}
    Suppression - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Supprimer une Rubrique</h2>
    <hr>
    <p>La suppresion de la Rubrique est irreversible et entrainera la supprimession de tous les posts associés<br>
    Souhaitez-vous poursuivre ?</p>

    <div class="well">
        <form action="{{ path('mh_newsletter_rubrique_delete', {'id':rubrique.id, 'newsletter_id':newsletter_id}) }}" method="post">
            <input type="submit" value="Supprimer" class="btn btn-danger"/>
            {{ form_rest(form) }}
        </form>
    </div>
    <a class="btn btn-default" href="{{ path('mh_newsletter_edit', {'id': rubrique.id, 'newsletter_id':newsletter_id} ) }}">Retour</a>

    <hr>
{% endblock %}