{% extends "MHNewsletterBundle::layout.html.twig" %}

{% block title %}
    Edition - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Edition Rubrique</h2>
    <hr>
    <div id="contain" >
        <div class="well">
            {{ form(form) }}
        </div>
        <a class="btn btn-default" href="{{ path('mh_newsletter_edit', {'id':newsletter_id} ) }}">Retour</a>
    </div>


{% endblock %}

{% block bundle_javascript %}

{% endblock %}

