{% extends "MHNewsletterBundle::layout.html.twig" %}

{% block title %}
    Ajout - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Ajout Post</h2>

    <div id="contain" >
        <div class="well">
            {{ form(form) }}
        </div>
    </div>


{% endblock %}

{% block bundle_javascript %}

{% endblock %}

