{% extends "MHNewsletterBundle::layout.html.twig" %}

{% block title %}
    Ajout - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Ajout Post</h2>

    <div id="contain" >
        <div class="well">
            {{ form(form) }}
        </div>
    </div>
    <br>
    <a class="btn btn-default" href="{{ path('mh_newsletter_edit', {'id': id}) }}">Retour</a>

{% endblock %}

{% block bundle_javascript %}

{% endblock %}

