{% extends "::layout.html.twig" %}

{% block title %}
    Newsletter - {{ parent() }}
{% endblock %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% block bundle_body %}
    {% endblock %}


{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% block bundle_javascript %}
    {% endblock %}
{% endblock javascript %}
