{% extends "MHMailBundle::layout.html.twig" %}

{% block title %}
    Selection - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Ajout de image</h2>
    <hr>
    <div id="contain" >
        <div class="well">
            {{ form(form) }}
        </div>
    </div>

    <a class="btn btn-default" href="{{ path('mh_mail_image_view') }}">Retour à la liste des images</a>

{% endblock %}

{% block bundle_javascript %}

{% endblock %}

