                    <!-- Debut bloc couleur -->

                    <tr bgcolor="#{{ post.bloc.couleur | first }}">
                        <td height="{{ post.bloc.hauteur }}">&nbsp;</td>
                    </tr>

                    <!-- Fin bloc couleur -->