                    <!-- Debut bloc texte image -->

                    <tr>
                        <td valign="top" align="center">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td width="33%" valign="top" align="center">
                                        <table width="100%" cellspacing="0" cellpadding="10" border="0">
                                            <tbody>
                                            <tr>
                                                <td valign="top" align="center"><a target="_blank" href="http://www.esiea.fr/colloque-esiea/"><img width="175" height="153" alt="26e &eacute;dition du Colloque Entreprise ESIEA au ski" title="26e &eacute;dition du Colloque Entreprise ESIEA au ski" src="/doc/1420/image/Newsletter%20ESIEA%20fevrier%202016/Colloque-ESIEA-2016.png" /></a></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" align="left">
                                                    <h3><span style="font-size: small"><span style="font-family: Arial"><a target="_blank" href="http://www.esiea.fr/colloque-esiea/"><font color="#0086c7">Le Colloque, l'un des temps forts du Cycle Ing&eacute;nieur<br />
                                                </font></a></span></span></h3>
                                                    <p><span style="font-size: x-small"><span style="font-family: Arial"><span style="font-size: x-small"><span style="font-family: Arial">Chaque ann&eacute;e, toute la promotion de M1 se donne rendez-vous pour le Colloque Entreprises, une semaine d'&eacute;changes avec les professionnels de grandes entreprises partenaires dans le cadre convivial d'une station de ski. Au programme: conf&eacute;rences, ateliers, soir&eacute;es networking... <a target="_blank" href="http://www.esiea.fr/colloque-esiea/">En savoir plus</a>.<br />
                                                </span></span></span></span></p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="33%" valign="top" align="center">
                                        <table width="100%" cellspacing="0" cellpadding="10" border="0">
                                            <tbody>
                                            <tr>
                                                <td valign="top" align="center"><a target="_blank" href="http://www.esiea.fr/premiere-operation-dune-tumeur-cerebrale-chez-un-patient-eveille-portant-des-lunettes-de-realite-virtuelle/"><img width="175" height="153" alt="La r&eacute;alit&eacute; virtuelle d&eacute;barque dans les blocs op&eacute;ratoires" title="La r&eacute;alit&eacute; virtuelle d&eacute;barque dans les blocs op&eacute;ratoires" src="/doc/1420/image/Newsletter%20ESIEA%20fevrier%202016/Realite-Virtuelle-CERVO.jpg" /></a></td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <h3><span style="font-size: small"><span style="font-family: Arial"><a target="_blank" href="http://www.esiea.fr/premiere-operation-dune-tumeur-cerebrale-chez-un-patient-eveille-portant-des-lunettes-de-realite-virtuelle/"><font color="#0086c7">La r&eacute;alit&eacute; virtuelle d&eacute;barque dans les blocs op&eacute;ratoires<br />
                                                </font></a></span></span></h3>
                                                    <p><span style="font-size: x-small"><span style="font-family: Arial">Le 27 janvier, un patient a &eacute;t&eacute; op&eacute;r&eacute; &agrave; cerveau ouvert gr&acirc;ce &agrave; un casque de r&eacute;alit&eacute; virtuelle, dans le cadre du projet de recherche intitul&eacute; CERVO (Chirurgie &eacute;veill&eacute;e sous r&eacute;alit&eacute; virtuelle dans le bloc op&eacute;ratoire) r&eacute;alis&eacute; en collaboration entre l'ESIEA et le CHU d'Angers. <a target="_blank" href="http://www.esiea.fr/premiere-operation-dune-tumeur-cerebrale-chez-un-patient-eveille-portant-des-lunettes-de-realite-virtuelle/">Retrouvez les reportages de TF1 et France 3</a>.&nbsp;&nbsp; <br />
                                                </span></span></p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="33%" valign="top" align="center" class="templateColumnContainer">
                                        <table width="100%" cellspacing="0" cellpadding="10" border="0">
                                            <tbody>
                                            <tr>
                                                <td valign="top" align="center"><a target="_blank" href="http://www.esiea.fr/tapcards-startup-dun-jeune-diplome-entrepreneur/"><img width="175" height="153" alt="TapCards, la startup d&rsquo;un jeune dipl&ocirc;m&eacute; entrepreneur" title="TapCards, la startup d&rsquo;un jeune dipl&ocirc;m&eacute; entrepreneur" src="/doc/1420/image/Newsletter%20ESIEA%20fevrier%202016/TapCards.jpg" /></a></td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <h3><a target="_blank" href="http://www.esiea.fr/tapcards-startup-dun-jeune-diplome-entrepreneur/"><span style="font-size: small"><span style="font-family: Arial"><font color="#0086c7">TapCards, la startup d'un jeune dipl&ocirc;m&eacute; entrepreneur<br />
                                                </font></span></span></a></h3>
                                                    <h3><span style="font-size: small"><span style="font-family: Arial"><font color="#0086c7">                                                 </font></span></span></h3>
                                                    <p><span style="font-size: x-small"><span style="font-family: Arial">Soutenu par le dispositif Espoir Entrepreneur, Rapha&euml;l a d'abord &eacute;t&eacute; laur&eacute;at du concours New Deal new Ideas. Aujourd'hui, sa startup fait partie de la FrenchTech et a &eacute;t&eacute; s&eacute;lectionn&eacute;e pour la 2e ann&eacute;e cons&eacute;cutive pour exposer au CES de Las Vegas, la grand-messe des objets connect&eacute;s.<br />
                                                </span></span></p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <!-- Fin bloc texte image -->