                    <!-- Debut bloc contact admission -->

                    <tr>
                        <td valign="top" height="20" bgcolor="#e7e8ea">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-size: 16px; font-family: Arial, sans-serif; color: rgb(51,153,204)" valign="middle" height="20" bgcolor="#e7e8ea" align="center"><strong>Service des Admissions</strong></td>
                    </tr>
                    <tr>
                        <td valign="top" align="center">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e7e8ea">
                                <tbody>
                                <tr>
                                    <td valign="top" width="4%">&nbsp;</td>
                                    <td style="font-size: 14px; font-family: Arial, sans-serif; color: #000000" valign="top" width="46%" align="center">
                                        <p>&nbsp;<br />
                                            Parc Universitaire Laval-Chang&eacute;<br />
                                            38 rue des docteurs Calmette et Gu&eacute;rin <br />
                                            53000 Laval<br />
                                            <br />
                                            T&eacute;l : 02 43 59 46 15</p>
                                    </td>
                                    <td style="font-size: 14px; font-family: Arial, sans-serif; color: #000000" valign="top" width="46%" align="center">
                                        <p><br />
                                            74 bis avenue Maurice Thorez<br />
                                            94200 Ivry sur Seine<br />
                                            M&eacute;tro Pierre et Marie Curie - Ligne 7<br />
                                            <br />
                                            T&eacute;l : 01 43 90 21 16</p>
                                    </td>
                                    <td valign="top" width="4%">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" height="20" bgcolor="#e7e8ea">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px; font-family: Arial, sans-serif; color: rgb(51,153,204)" valign="top" height="20" bgcolor="#e7e8ea" align="center"><a href="mailto:admissions@esiea.fr"><span style="text-decoration: none; color: rgb(51,153,204)"><strong>admissions@esiea.fr</strong></span></a><br />
                            <a href="http:// www.esiea.fr" target="_blank">                         <span style="text-decoration: none; color: rgb(51,153,204)"><strong>www.esiea.fr</strong></span></a></td>
                    </tr>
                    <tr>
                        <td valign="top" height="20" bgcolor="#e7e8ea">&nbsp;</td>
                    </tr>

                    <!-- Fin bloc contact admission -->