                    <!-- Debut bloc footer-reseau sociaux -->

                    <tr>
                        <td align="center" valign="top">
                            <table cellspacing="0" cellpadding="0" border="0" bgcolor="#0084c6" width="100%">
                                <tbody>
                                <tr>
                                    <td width="14%" valign="top">&nbsp;</td>
                                    <td center="align" width="20%" valign="top"><a href="https://www.esiea.fr/ecole-ingenieurs/reseau-ecole-ingenieurs" target="_blank"><img src="http://oscar-campus.com/doc/1420/image/4-logos/CTI-logo-blanc-M.jpg" alt="Cti - Commission des Titres d'Ing&eacute;nieur" style="overflow: hidden; display: block" height="70" border="0" width="108" /> </a></td>
                                    <td center="align" width="28%" valign="top"><img src="http://oscar-campus.com/doc/1420/image/2-footer/suis-ta-future-ecole-sur-les-reseaux-sociaux.jpg" alt="Suis ta future &eacute;cole sur les r&eacute;seaux sociaux !" style="overflow: hidden; display: block" height="56" border="0" width="216" /></td>
                                    <td center="align" width="6%" valign="top"><a href="https://www.facebook.com/esiea" target="_blank"><img src="http://oscar-campus.com/doc/1420/image/4-logos/FB-S.jpg" alt="Facebook" style="overflow: hidden; display: block" height="81" border="0" width="35" /> </a></td>
                                    <td center="align" width="6%" valign="top"><a href="https://twitter.com/GroupeESIEA" target="_blank"><img src="http://oscar-campus.com/doc/1420/image/4-logos/tw-S.jpg" alt="Twitter" style="overflow: hidden; display: block" height="81" border="0" width="33" /> </a></td>
                                    <td center="align" width="6%" valign="top"><a href="https://plus.google.com/+esiea" target="_blank"><img src="http://oscar-campus.com/doc/1420/image/4-logos/Gplus-S.jpg" alt="Google+" style="overflow: hidden; display: block" height="81" border="0" width="35" /> </a></td>
                                    <td center="align" width="6%" valign="top"><a href="https://www.linkedin.com/company/esiea" target="_blank"><img src="http://oscar-campus.com/doc/1420/image/4-logos/linkedin-S.jpg" alt="Linkedin" style="overflow: hidden; display: block" height="81" border="0" width="34" /> </a></td>
                                    <td width="14%" valign="top">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <!-- Fin bloc footer-reseau sociaux -->