                    <!-- Début du bloc HEADER image -->

                    <tr>
                        <td align="center" valign="top">
                            <a href="https://www.esiea.fr/ecole-ingenieurs/journees-portes-ouvertes-esiea#1" target="_blank">
                                <img src="{{ post.header.image.src }}"
                                     alt="{{ post.header.image.alt }}" style="overflow: hidden; margin: 0px auto; display: block"
                                     title="{{ post.header.image.description }}" height="206" border="0" width="700" />
                            </a>
                        </td>
                    </tr>

                    <!-- Fin du bloc HEADER image -->