                    <!-- Début du bloc HEADER image -->

                    <tr>
                        <td align="center" valign="top"><a href="https://www.esiea.fr/ecole-ingenieurs/journees-portes-ouvertes-esiea#1" target="_blank"><img src="/doc/1420/image/1-header/ESIEA-header.jpg" alt="ESIEA, l'&Eacute;cole d'ing&eacute;nieurs du monde num&eacute;rique" style="overflow: hidden; margin: 0px auto; display: block" title="ESIEA, l'&Eacute;cole d'ing&eacute;nieurs du monde num&eacute;rique" height="206" border="0" width="700" /> </a></td>
                    </tr>

                    <!-- Fin du bloc HEADER image -->