<div class="modal fade" id="modalP" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Rendu</h3>
            </div>
            <div class="modal-body">

                {% include "MHMailBundle:Template:"~post.slug~".html.twig" ignore missing %}

            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>