<br>
<br>
<button class="jscolor {valueElement:'chosen-value', onFineChange:'setTextColor(this)'}">
    Choisir une Couleur
</button>

HEX value: <input id="chosen-value" value="000000">


<script>
    function setTextColor(picker) {
        $('button')[0].style.color = '#' + picker.toString()
    }
</script>


