                    <!-- Debut bloc texte -->

                    <tr>
                        <td valign="top" align="center">
                            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td valign="top" width="4%">&nbsp;</td>
                                    <td style="font-size: 13px; font-family: Arial, sans-serif; color: #000000" valign="top" width="92%" align="left">
                                        <p><span style="color: rgb(0,134,199)"><strong>Le num&eacute;rique est partout.</strong></span> Il a entra&icirc;n&eacute; des changements profonds dans la soci&eacute;t&eacute; mais &eacute;galement dans la vie et le fonctionnement des entreprises.</p>
                                        <p>Les &eacute;tudes d&rsquo;ing&eacute;nieurs ne sont plus l&rsquo;apanage des bacheliers scientifiques. Avec un <span style="color: rgb(0,134,199)"><b>Bac ES</b></span> (sp&eacute; maths) vous pouvez d&eacute;sormais vous aussi devenir <span style="color: rgb(0,134,199)"><b>ing&eacute;nieur en Sciences et Technologies du Num&eacute;rique</b></span>. C&rsquo;est le secteur le plus cr&eacute;ateur d&rsquo;emplois avec une insertion professionnelle imm&eacute;diate et tr&egrave;s r&eacute;mun&eacute;ratrice. Un ing&eacute;nieur est &eacute;galement un manager. Il est form&eacute; pour cela d&egrave;s son entr&eacute;e dans l&rsquo;&eacute;cole et s&rsquo;approprie de plus en plus les fonctions traditionnellement d&eacute;di&eacute;es &agrave; ceux issus d&rsquo;&eacute;coles de commerce.</p>
                                    </td>
                                    <td valign="top" width="4%">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <!-- Fin bloc texte -->