<tr>
    <td class="column_cell one_column list"
        style="padding: 5px 32px 5px 32px;vertical-align: top;text-align: left;">
        <p style="font-family: Helvetica, Arial, sans-serif;font-size: medium;line-height: 1.5;margin-top: 5px;margin-bottom: 5px;color: #4c4c4c;">
            &#10004;&nbsp;&nbsp;{{ post.titre }}</p>
    </td>
</tr>