{% extends "MHMailBundle::layout.html.twig" %}

{% block title %}
    Creation - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Nouveau Mail HTML</h2>
    <hr>
    <div class="well">
        {{ form(form) }}
    </div>
    <hr>
{% endblock %}