{% extends "MHMailBundle::layout.html.twig" %}

{% block title %}
    Edition Header - {{ parent() }}
{% endblock %}

{% block bundle_body %}

    <h2>Edition Header</h2>
    <hr>

    {{ form(form) }}
    <a class="btn btn-default" href="{{ path('mh_mail_edit', {'id':mail.id} ) }}">Retour</a>
  

{% endblock %}

{% block bundle_javascript %}

{% endblock %}

