{% extends "MHNewsletterBundle::layout.html.twig" %}

{% block title %}
    Suppression - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Supprimer une Couleur</h2>
    <hr>
    <p>La suppresion de la police est irreversible<br>
    Souhaitez-vous poursuivre ?</p>

    <div class="well">
        <form action="{{ path('mh_mail_police_delete', {'id':id}) }}" method="post">
            <input type="submit" value="Supprimer" class="btn btn-danger"/>
            {{ form_rest(form) }}
        </form>
    </div>
    <a class="btn btn-default" href="{{ path('mh_mail_police_view', {'id': id}) }}" >Retour</a>

    <hr>
{% endblock %}