{% extends "MHMailBundle::layout.html.twig" %}

{% block title %}
    Edition - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Edition Mail</h2>
    <hr>
    <div id="contain" >
        <div class="well">
           {{ form(form) }}
        </div>
        <a class="btn btn-default" href="{{ path('mh_mail_police_view', {'id':id} ) }}">Retour à la liste des polices</a>
    </div>


{% endblock %}

{% block bundle_javascript %}

{% endblock %}

