{% extends "MHNewsletterBundle::layout.html.twig" %}

{% block title %}
    Creation - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Nouvelle Newsletter</h2>
    <hr>
    <div class="card border-primary">
        <div class="card-body ">
        {{ form(form) }}
        </div>
    </div>
    <hr>
{% endblock %}
