{% extends "MHNewsletterBundle::layout.html.twig" %}

{% block title %}
    Creation - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Edition Newsletter</h2>

    <div id="contain" class="row">

    </div>


{% endblock %}

{% block bundle_javascript %}
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                type: 'GET',
                url: '{{ path('mh_newsletter_get') }}',
                timeout: 3000,
                data : "id={{ newsletter.id }}",
                dataType: "json",
                success : function(data, statut){

                    var mod = "";
                    data["rubriques"].forEach(function (el,ind,array) {
                        var row = "<div class='row'>";
                        var col = "<div class='col-md-4'><div class='well'> ";
                        var num = ind.toString();
                        var nomRubrique = el.name;
                        var idRubrique = el.id;
                        var endcol = "</div></div>";
                        var col1 = "<div class='col-md-1'>";
                        var btnmod=document.createElement('a');
                        btnmod.className="btn btn-warning";
                        btnmod.href="javascript:void(0)";
                        btnmod.onclick=function () {
                            console.log("in modif fonction"+idRubrique);
                        };
                        console.log(btnmod);
                        texte1 = document.createTextNode('Modifier');
                        btnmod.appendChild(texte1);
                        var btnsup=document.createElement('a');
                        btnsup.className="btn btn-danger";
                        btnsup.href="javascript:void(0)";
                        btnsup.onclick=function () {
                            console.log("in modif fonction");
                        };
                        texte2 = document.createTextNode('Supprimer');
                        btnsup.appendChild(texte2);
                        var temp = row+col+nomRubrique+endcol+col1;
                        var row = $('<div>').attr("class","row");
                        var colUn = $('<div>').attr("class","col-md-4");
                        var colDeux = $('<div>').attr("class","col-md-2");
                        var colTrois = $('<div>').attr("class","col-md-2");
                        var br = $('<br><br><br>');

                        colUn.append(nomRubrique).append(br);
                        colDeux.append(btnmod);
                        colTrois.append(btnsup);
                        row.append(colUn).append(colDeux).append(colTrois);
                        $('#contain').append(row);
                        /*
                         $('#contain').append("<div class='row'><div class='col-md-4'><div class='well'>" +nomRubrique+ "</div></div><div class='col-md-4'><div class='well'>");
                         $('#contain').append(btnmod);
                         $('#contain').append("</div></div>");*/
                    });
                    //var btnadd = $('<a>').attr('href','javascript:void(0)').addClass('btn btn-primary').text('Ajouter');
                    var btnadd=document.createElement('a');
                    btnadd.className="btn btn-primary";
                    btnadd.href="javascript:void(0)";
                    btnadd.onclick=function () {
                        console.log("on add");
                    };
                    console.log(btnadd);
                    texte3 = document.createTextNode('Ajouter');
                    btnadd.appendChild(texte3);
                    var btnsubmit=document.createElement('a');
                    btnsubmit.className="btn btn-success";
                    btnsubmit.href="javascript:void(0)";
                    btnsubmit.onclick=function () {
                        console.log("on add");
                    };
                    console.log(btnsubmit);
                    texte4 = document.createTextNode('Enregistrer');
                    btnsubmit.appendChild(texte4);
                    var btndel=document.createElement('a');
                    btndel.className="btn btn-danger";
                    btndel.href="javascript:void(0)";
                    btndel.onclick=function () {
                        console.log("on add");
                    };
                    console.log(btndel);
                    texte4 = document.createTextNode('Supprimer');
                    btndel.appendChild(texte4);
                    var br1 = $('<br><br><br>');
                    var row1 = $('<div>').attr("class","row");
                    var colUn1 = $('<div>').attr("class","col-md-offset-0 col-md-2");
                    var colDeux1 = $('<div>').attr("class","col-md-offset-4 col-md-2");
                    colUn1.append(btndel);
                    colDeux1.append(btnsubmit);
                    row1.append(colUn1).append(colDeux1);
                    var form = $('<div>').attr('id','formAdd');
                    var fo = '{{ form(formR) }}';
                    btndel.onclick=function () {
                        btnadd.className="btn btn-primary";
                        btndel.remove();
                        form.animate({
                                height: 'toggle'},
                            "slow",
                            function () {
                                $("form").remove();
                            });
                        console.log("del");

                    };
                    btnadd.onclick=function () {
                        console.log($('form').serializeArray());
                        var request;
                        $("#mh_newsletterbundle_rubrique_save").onclick=function(event) {
                            console.log("OKOKO");
                            $(this).attr("action");
                            // Stop la propagation par défaut
                            event.preventDefault();
                            if (request) {
                                request.abort();
                            }

                            request = $.ajax({
                                url: "/form.php",
                                type: "POST",
                                data: $('form').serializeArray()
                            });

                            // Récupération des valeurs
                        };
                        form.addClass('well');

                        btnadd.className="btn btn-primary disabled";
                        form.append(fo).hide().fadeIn(1000);
                        $('#contain').append(btndel);
                        console.log("add");
                        $('#mh_newsletterbundle_rubrique_save').attr('class','btn btn-success');
                    };




                    $('#contain').append(btnadd).append(br1).append(form);


                    console.log(data);
                },

                error : function(resultat, statut, erreur){
                    alert("erreur");
                },

                complete : function(data, statut){

                }
            });

            function modifier(id) {
                alert("modifier");
            }
            function supprimer(id) {
                alert("modifier");
            }
            function submitf() {
                console.log($('form').serializeArray());
                var request;

                $("#mh_newsletterbundle_rubrique").submit(function(event) {
                    console.log("OKOKO");
                    $(this).attr("action");
                    // Stop la propagation par défaut
                    event.preventDefault();
                    if (request) {
                        request.abort();
                    }

                    request = $.ajax({
                        url: "/form.php",
                        type: "POST",
                        data: serializedData
                    });

                    // Récupération des valeurs
                });
            }



        });
    </script>


{% endblock %}

