{% extends "MHNewsletterBundle::layout.html.twig" %}

{% block title %}
    Creation - {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <h2>Edition Newsletter</h2>

    <div id="contain" class="row">

    </div>


{% endblock %}

{% block bundle_javascript %}

{% endblock %}

